* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    background-color: rgb(148, 147, 147);
}

header {
    border: 2px solid yellow;
}

body {
    border: 2px solid purple; 
   
}

#nav_navigationWrapper {
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
}

#div_searchbarWrapper {
    border: 2px solid gray;
    width: 420px;
}

#div_searchbarWrapper input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 40px;
    color: black;
    background-color: white;
    font-size: 16px;
    padding: 10px;
}

#img_bluebirdLogo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#img_bluebirdLogo:hover {
    border: 2px solid rgb(66, 154, 226);
    box-shadow: 0 0 10px rgb(198, 216, 231);
}

#img_home {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#div_mainWrapper {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
}

#ul_verticalbarWrapper {
    border: 2px solid orange;
    width: 70px;
    height: 400px;
    color:white;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#ul_verticalbarWrapper li {
    width: 100%;
    padding: 10px 10px 10px 0;
    border: 2px solid white; 
    font-size: 16px;

}

#img_profile {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.div_textbox {
    border: 2px solid aqua;
    display: flex;
    justify-self: center;
    align-items: center;
}



